* {
    margin: 0;
    padding: 0;

    font-family: monospace;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 40vh;
    padding-top: 60px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    backdrop-filter: blur(4px);
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.3);
    border-bottom: 1px solid #ccc;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}
